/* Structure SASS File */

.main-container {
	display: flex;
	margin: auto;
	padding: 10px;
	width: 700px;
	border: 1px solid #444;

	&__sidebar {
		flex-direction: column;
		padding: 0;
		min-width: 150px;
		border: 1px solid #AAA;
	}

	&__content {
		flex-direction: column;
		padding: 10px;
	}

}
