/* Styling SASS File */

.main-title {
	margin: auto;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	color: darkgreen;
}

.menu-list {
	padding: 0;
	width: 100%;
  	list-style-type: none;

	&__list-item {
		display: block;
		line-height: 120%;
		border: 1px solid #CCC;
		color: darkgreen;
	}
}

.content-article {

	&__tiile {
		font-size: 14px;
		font-weight: bold;
	}

	&__summary {
		font-size: 12px;
		font-style: italic;
	}

	&__text {
		font-size: 10px;
	}
}