/* CSS reset SASS File */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Structure SASS File */
.main-container {
  display: flex;
  margin: auto;
  padding: 10px;
  width: 700px;
  border: 1px solid #444; }
  .main-container__sidebar {
    flex-direction: column;
    padding: 0;
    min-width: 150px;
    border: 1px solid #AAA; }
  .main-container__content {
    flex-direction: column;
    padding: 10px; }

/* Styling SASS File */
.main-title {
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: darkgreen; }

.menu-list {
  padding: 0;
  width: 100%;
  list-style-type: none; }
  .menu-list__list-item {
    display: block;
    line-height: 120%;
    border: 1px solid #CCC;
    color: darkgreen; }

.content-article__tiile {
  font-size: 14px;
  font-weight: bold; }

.content-article__summary {
  font-size: 12px;
  font-style: italic; }

.content-article__text {
  font-size: 10px; }
